/ {
    // aliases {
        //     button0 = &button-0;
    // };


    buttonsmf0: buttonsmf {
        compatible = "buttonsmf";

        input-gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    };

};